@charset "UTF-8";

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
  }


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

ol, ul {
    list-style: none;
    margin-right: 15em; /*margem do menu inteiro*/
}

a{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 2em; /*margem de cada link */
    padding: 5px; /*aumenta a area de contato de cada link da lista*/
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em 1.3em;
}

.logo{
    margin-left: 1em;
}

.mobile-menu-icon { /*esconder a img do icon*/
    display: none;
    
}

.mobile-menu-icon img { /*a imagem dentro do sidemenu, no caso o hamburguer escondido */
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

.mobile-menu { /*esconder a copia do menu*/
    display: none;
}

.link a:hover { /*individual para cada opção do menu */
    right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
  }

button{
    background: none;
    border: none;
    padding: 10px 20px 10px 10px; /*aumenta a area de contato do botao, nao fica exatamente apenas em cima*/
    cursor: pointer;
}

.entrar{
    background-color: var(--main-color);
    padding: 0.8em 1.2em;
    border-radius: 0.4em;
}

.flex-item1{
    margin-right: 3em;
}

/*cabeçalho */

.sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    gap: 2em; /*poderia ser margin-bottom pra cada elemento, gap dá um espaçamento entre todos
    os filhos de uma div com display flex*/
}

.sobrenos span{
    color: #8E2424;
    font-weight: bolder;
}

.sobrenos h1{
    font-size: 2em;
    text-align: center;
}

.sobrenos p{
    text-align: center;
    color: #667085;
    max-width: 50vw;
    line-height: 1.5em;
}

/* css da opção flexbox que esta escondida*/

.container2{
    display: flex;
    justify-content: space-around;
    padding: 1em 3em;

}

.item1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5em;
}

.item1 h1{
    color: #8E2424;
    line-height: 2.5em;
    font-weight: bolder;
    font-size: 3rem;
}

.item1 span{
    color: #667085;
    max-width: 21vw;
    font-size: 90%;
    line-height: 140%;
}

.item1 .itemtitulo{ /*colocando as duas classes, ela tem mais prioridade que a anterior */
    padding-bottom: 0.7em;
    font-weight: 700;
    color: #101828;
}

.talentos{
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos span{
    color: #8E2424;
    background-color: #8e242442;
    padding: 0.5em;
    border-radius: 1em;
    margin: 2em;
}

.talentos h2{
    font-weight: bolder;
    margin-bottom: 2em;
    text-align: center;
    color: var(--title-color);
}

.talentos p{
    color: #667085;
    margin-bottom: 4em;
    align-items: center;
}

.talentos img{
    width: 80%; /*usando a porcentagem para a largura, ela fica responsiva*/
}

.menu-vagas{
    padding-top: 5em;
}

h3{
    display: block;
    max-width: 50%;
    margin: 0 auto; /*auto, numeros, variações importantes para deixar o conteudo onde eu quiser, prestar atenção no valor AUTO */
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--title-color);
}

.vaga{
    display: block;
    margin: 0 auto;
    max-width: 46%;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 15px;
    margin-bottom: 2em;
    padding: 1em;
}

.vaga-titulo{
    font-weight: 800;
}


.disc-vaga{
    padding: 2em 0 1em 0;
    color: #667085;
    display: flex;
    gap: 2em; /*gap funciona com display:flex*/
    font-size: 95%;
}


/*css do grid*/

.grid1{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 98%;
    grid-gap: 3em;
    padding: 0 8em;
}

.gri2 {
    display: flex;
    flex-direction: column; /*deixou as 3 tag inseridas em forma de coluna "cada uma em uma linha"*/
    gap: 0.8em;
    
}

.gri2 h1{
    color: #8E2424;
    font-size: 3em;
}

.gri2 span{
    color: var(--text-color);
    font-size: 90%;
}

.gri2 .gridtitulo{
    color: #101828;
    font-weight: bolder;
}

/*seção do depoimento*/

.depoimento{
    background-color: #8e24240a;
    padding: 3em 1em; /*ira mexer na cor vermelha em volta*/
    margin: 5em auto; /*ira centralizar */
    max-width: 60%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.depoimento img{
    width: 48px;
    padding-top: 2em;
}

.depoimento span{
    color: #8e2424;
    padding-bottom: 2em;
    font-weight: bolder;
}

.depoimento .nome-depo{
    color: var(--title-color);
    padding: 0.5em 0em 0.5em 0em;
}

.depoimento .cargo-depo{
    color: #667085;
    padding: 0;
    font-size: 80%;
}

/*rodape*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #66708523;
    padding: 2em 2em 0.5em 2em;
    gap: 1.5em;
    color: #667085;
}

footer h1{
    color: #101828;
    font-weight: bolder;
}

footer span{
    font-size: 80%;
    padding-bottom: 0;
}
footer div{
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
}
div > input {
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    border-color: #66708562;
    margin-left: 2em;
    width: 20%;
}

.rodape div button{
    background-color: var(--main-color);
    padding: 0.8em 1.2em;
    border-radius: 0.4em;
}

/*Responsividade*/

@media screen and (max-width: 920px){
    .grid1 {
        padding: 0 4em;
    }

    a{
        padding: 2em;
    }
}

@media screen and (max-width:850px) {
    .grid1{
        display: flex; /*mudou flex para poder deixar o layout com 1 item por linha */
        flex-direction: column;
        align-items: center;
    }

    .gri2{
        align-items: center;
        margin-bottom: 1em;
        justify-content: center;
        text-align: center;
    }

    .gri2 span{
        max-width: 280px;
    }

    .talentos{
        text-align:center ;
        max-width: 100vw;
    }

    .menu-vagas{
        text-align: center;
        max-width: 100vw;
    }

    .depoimento{
        text-align: center;
    }

    .depoimento h2{
        max-width: 100%;
        font-size: 120%;
    }

    footer {
        max-width: 98%;
        text-align: center;
    }

    /*ajuste do menu*/

    .nav-item {
        display: none;
    }
    .flex-item1 {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .flex-item1 {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .flex-item1 button {
        width: 50%;
    }
    .open {
        display: block;
    }
    
}